.item(class="{{item.category}}")
    .item-thumbnail
        h3 {{item.name}}
        .content(ng-bind-html="item.thumbnail", ng-if="item.thumbnail && item.thumbnail != ''")
    .item-infos
        table
            tr
                td
                    b Name
                td {{item.name}}
            tr
                td
                    b Author
                td {{users[item.author].name}}
            tr
                td
                    b Created
                td {{item.created | date: 'dd.MM.yyyy - HH:mm'}}
            tr
                td
                    b Edited
                td {{item.last_edited | date: 'dd.MM.yyyy - HH:mm'}}
        .item-controls.clearfix
            a(ng-click="delete(item.id)", popover="Delete",
                popover-trigger="mouseenter", popover-placement="bottom",
                popover-popup-delay="750")
                i.fa.fa-trash-o
            a(ng-href="{{item.path}}", popover="Download",
                popover-trigger="mouseenter", popover-placement="bottom",
                popover-popup-delay="750", content="item.content",
                ng-download="'{{item.name}}.html'")
                i.fa.fa-download
            a(ng-href="/share/note/{{item.id}}", popover="Edit",
                popover-trigger="mouseenter", popover-placement="bottom",
                popover-popup-delay="750")
                i.fa.fa-pencil
