.item(class="{{item.category}}")
    .item-thumbnail(style="background-image: url(images/{{item.thumbnail}})")
    .item-infos
        table
            tr
                td
                    b Name
                td {{item.name}}
            tr
                td
                    b Published
                td {{item.created}}
        .item-controls.clearfix
            a(ng-click="delete(item.id)", popover="Delete",
                popover-trigger="mouseenter", popover-placement="bottom",
                popover-popup-delay="750")
                i.fa.fa-trash-o
            a(ng-click="copyClipboard(item.id)", popover="copy to clipboard",
                popover-trigger="mouseenter", popover-placement="bottom",
                popover-popup-delay="750")
                i.fa.fa-clipboard
            a(href="/share/shared-webcam/{{item.id}}", popover="View",
                popover-trigger="mouseenter", popover-placement="bottom",
                popover-popup-delay="750")
                i.fa.fa-eye
