.panel.panel-default.chat-container(ng-controller="ChatCtrl",
    absolute-fill-relative-full-height="chat.state",
    ng-class="chat.state")
    .panel-heading(ng-click="chat.maximize()")
        | Roomname - Chat
    .controls.pull-right
        i.fa.fa-compress(ng-click="chat.compress()",
            ng-show="chat.state == 'expanded'")
        i.fa.fa-expand(ng-click="chat.expand()",
            ng-show="chat.state == 'compressed'")
        i.fa.fa-minus(ng-hide="chat.state == 'minimized'", 
            ng-click="chat.minimize()")

    .panel-body(fit-chat-body-height="chat.state")
        .message-container(update-scroll-position="chat.messages.length")
            .clearfix.chat-message(
                ng-repeat="message in chat.messages")
                span.well.well-sm(ng-class-even="'own'")
                    | <b>{{message.sender}}:</b> {{message.content}}
    .panel-footer.message-control.clearfix
        form(name="chatMessage", no-validate, 
            ng-submit="submitChatMessage()")
            .control-input
                input#inputChatMessage.form-control(type="text", 
                    required, ng-model="chat.message")
            .control-button
                a.btn.btn-default(ng-disabled="chatMessage.$invalid", 
                    focus-on-click="input-chat-message", ng-href="#",
                    ng-click="submitChatMessage()")
                    i.fa.fa-share.text-default