.info-container(center-vertical, ng-show="room.id==''")
    .info
        | Chat with others
    .info
        | Share anything

#create-room-container.well(center-vertical, ng-show="room.id==''")
    form.form-horizontal(novalidate, name="createRoom")
        fieldset
            legend Create Room
            .form-group
                .col-xs-1
                label.col-xs-4.control-label(for='roomName') Room Name
                .col-xs-6.col-offset-xs-1(ng-class="{'has-error': createRoom.rName.$invalid && createRoom.rName.$dirty}")
                    input#roomName.form-control(type='text', name="rName"
                        ng-model="room.name", placeholder='Room Name',
                        ng-minlength="5", required)
                    span.help-block(ng-show="createRoom.rName.$error.required && createRoom.rName.$dirty")
                        | *Required field.
                    span.help-block(ng-show="createRoom.rName.$error.minlength && createRoom.rName.$dirty")
                        | *Type in at least 5 characters.

            .form-group
                .col-xs-1
                label.col-xs-4.control-label(for='roomPassword')
                    | Password
                .col-xs-6.col-offset-xs-1(ng-class="{'has-error': createRoom.rPassword.$invalid && createRoom.rPassword.$dirty}")
                    input#roomPassword.form-control(type='password',
                        name="rPassword" ng-model="room.password",
                        placeholder='Password', ng-minlength="5", required)
                    span.help-block(ng-show="createRoom.rPassword.$error.required && createRoom.rPassword.$dirty")
                        | *Required field.
                    span.help-block(ng-show="createRoom.rPassword.$error.minlength && createRoom.rPassword.$dirty")
                        | *Type in at least 5 characters.
            .form-group
                .col-xs-1
                label.col-xs-4.control-label(for='roomPasswordRepeat')
                    | Repeat Password
                .col-xs-6.col-offset-xs-1(ng-class="{'has-error': createRoom.rPasswordRepeat.$invalid && createRoom.rPasswordRepeat.$dirty}")
                    input#roomPasswordRepeat.form-control(type='password',
                        name="rPasswordRepeat", ng-model="room.passwordRepeat",
                        placeholder='Repeat Password', 
                        input-match="roomPassword", required)
                    span.help-block(ng-show="createRoom.rPasswordRepeat.$error.required && createRoom.rPasswordRepeat.$dirty")
                        | *Required field.
                    span.help-block(ng-show="createRoom.rPasswordRepeat.$error.inputMatch && createRoom.rPasswordRepeat.$dirty && !createRoom.rPasswordRepeat.$error.required")
                        | Passwords don't match.
                    
            .form-group
                .col-xs-11.col-offset-xs-1
                    button.btn.btn-primary.pull-right(ng-click="submitRoom()",
                        ng-disabled="createRoom.$invalid") Submit

.row.dashboard(ng-hide="room.id==''", center-vertical)
    .col-xs-offset-1.col-xs-4
        .well
            h1 {{room.name}}
            p {{room.description}}
            dl.dl-horizontal
                dt Users
                dd {{room.usersLength}}
                dt Shared files
                dd {{room.filesLength}}
                dt Up since
                dd {{room.created}}
                dt(ng-hide="room.url==''") URL
                dd(ng-hide="room.url==''") {{room.url}}
    .col-xs-offset-2.col-xs-4.col-xs-offset-1
        .well
            form.form-horizontal(name="userForm", role="form")
                .form-group
                    label.col-xs-4.control-label(for="inputUserName")
                        | Your name:
                    .col-xs-8
                        input#inputUserName.form-control(type="text",
                            ng-model="user.name")

                .form-group(ng-class="{'has-error': user.avatar_error}")
                    label.col-xs-4.control-label(for="inputUserAvatar")
                        | Your Avatar:
                    .col-xs-8
                        input#inputUserAvatar.form-control(type="file",
                            ng-model="user.avatar", name="avatar"
                            ng-file-select="onFileSelect($files)")
                        span.help-block(ng-show="imageForm.iName.$error.required")
                            | *Required field. Name won't be saved.

                .form-group
                    .col-xs-offset-4.col-xs-8
                        .img-container
                            .img(ng-file-drop="onFileSelect($files)", square,
                                ng-file-drag-over-class="drag-over-class",
                                style="background-image: url({{user.profilePic}})")

