.modal-header
  h3 Login
.modal-body
  fieldset
    form.form-horizontal(name="login", novalidate, ng-ctrl="SignUpCtrl")
      .form-group(ng-class="{'has-error' : login.email.$error.email}")
        label.col-sm-4.control-label(for='inputEmail') Email
        .col-sm-6
          input#inputEmail.form-control(type='email', ng-model="user.email", 
            name="email", placeholder='Email', required)

      .form-group(ng-class="{'has-error' : login.password.$error.minlength}")
        label.col-sm-4.control-label(for='inputPassword') Password
        .col-sm-6
          input#inputPassword.form-control(type='password', ng-minlength="5",
            name="password", ng-model="user.password", placeholder='Password', 
            required)

    form.form-horizontal(name="signup", novalidate, ng-ctrl="SignUpCtrl")
      #signup-fields-container(collapse="hideSignUp")
        .form-group(ng-class="{'has-error' : signup.confirmEmail.$error.email || signup.confirmEmail.$error.inputMatch}")
          label.col-sm-4.control-label(for='inputEmailConfirm') Confirm Email
          .col-sm-6
            input#inputConfirmEmail.form-control(type='email', 
              name="confirmEmail", ng-minlength="5", input-match="inputEmail"
              ng-model="user.confirmEmail", placeholder='Confirm Email', 
              required)

        .form-group(ng-class="{'has-error' : signup.confirmPassword.$error.minlength || signup.confirmPassword.$error.inputMatch}")
          label.col-sm-4.control-label(for='inputConfirmPassword') Confirm Password
          .col-sm-6
            input#inputConfirmPassword.form-control(type='password', 
              name="confirmPassword", ng-minlength="5", input-match="inputPassword"
              ng-model="user.confirmPassword", placeholder='Confirm Password', 
              required)

        .form-group(ng-class="{'has-error' : signup.displayName.$error.minlength}")
          label.col-sm-4.control-label(for='inputDisplayName') Display Name
          .col-sm-6
            input#inputDisplayName.form-control(type='text', ng-minlength="5",
              name="displayName", ng-model="user.displayName", placeholder='Display Name', 
              required)


.modal-footer
  {{useremail}}
  a#toggle-signup-form.pull-left(ng-click="hideSignUp = !hideSignUp", ng-href="#").
    {{hideSignUp | iif : "Not yet registered?" : "Already registered?"}}
  span.
  button#submit-login.btn.btn-success(ng-click="submit()" ng-disabled="login.$invalid || (!hideSignUp && signup.$invalid)")
    {{hideSignUp | iif : "Login" : "Sign Up"}}
  button#close-login.btn.btn-default(ng-click="cancel()") Cancel