.heading.clearfix.controls
    .row
        .col-xs-12
            .brand
                | Unwatched

.row.dashboard(ng-if="isInRoom")
    .col-xs-offset-1.col-xs-10.col-xs-offset-1(ng-class="{'col-md-offset-1 col-md-5':chat_state!='expanded'}")
        .well
            edit-in-place(value="room.name", ng-if="user.isMaster")
                h1 {{room.name}}
                input.form-control(type="text", ng-model="room.name")
            h1(ng-if="!user.isMaster") {{room.name}}

            edit-in-place(value="room.description", ng-if="user.isMaster")
                p {{room.description}}
                textarea.form-control(ng-model="room.description", row="4")
            p(ng-if="!user.isMaster") {{room.description}}

            dl.dl-horizontal
                dt.col-xs-4 Users
                dd {{room.users.length}}
                dt Shared files
                dd {{room.files.length}}
                dt Up since
                dd {{room.created | date: 'dd.MM.yyyy - HH:mm'}}
                dt(ng-hide="room.url==''") URL
                dd(ng-hide="room.url==''")
                    a(ng-href="{{room.url}}" target="_blank") {{room.url}}

    .col-xs-offset-1.col-xs-10.col-xs-offset-1(ng-class="{'col-md-offset-1 col-md-4 col-md-offset-1':chat_state!='expanded'}")
        .well(style="box-shadow:0 0 50px 0 {{user.getColorWithOpacity(0.6)}}")
            form.form-horizontal(name="userForm", role="form")
                .form-group
                    label.col-xs-4.control-label(for="inputUserName")
                        | Your name:
                    .col-xs-8.user-form-input(ng-class="{'has-error': userForm.uName.$invalid}")
                        input#inputUserName.form-control(type="text",
                            ng-model="user.name", name="uName",
                            ng-minlength="5", required, ng-blur="checkName(userForm.uName)")
                        span.help-block(ng-show="userForm.uName.$error.required")
                            | *Required field.
                        span.help-block(ng-show="userForm.uName.$error.minlength")
                            | *Type in at least 5 characters.


                .form-group(ng-class="{'has-error': user.avatar_error}")
                    label.col-xs-4.control-label(for="inputUserAvatar")
                        | Your Avatar:
                    .col-xs-8
                        input#inputUserAvatar.form-control(type="file",
                            ng-model="user.avatar", name="avatar"
                            ng-file-select="onFileSelect($files)")
                        span.help-block(ng-show="imageForm.iName.$error.required")
                            | *Required field. Name won't be saved.

                .form-group
                    .col-xs-offset-4.col-xs-8
                        .img-container
                            .img(ng-file-drop="onFileSelect($files)", square,
                                ng-file-drag-over-class="drag-over-class",
                                style="background-image:url({{user.pic}});")
