.section.group
    .col.span_1_of_2
        .heading.clearfix
            .controls.clearfix
                form(name="controlSearch", no-validate)
                    .control-input
                        input#searchString.form-control(type="text", 
                            required, ng-model="controls.searchString",
                            placeholder="Click to search")
                .layout
                    span(ng-click="controls.layout='layout-list'",
                        ng-class="{'active':controls.layout=='layout-list'}")
                        i.fa.fa-list-ul
                    span(ng-click="controls.layout='layout-icons'",
                        ng-class="{'active':controls.layout=='layout-icons'}")
                        i.fa.fa-th

                .sorting.clearfix(ng-class="{'ascending':controls.sorting.ascending}")
                    span Sort by:
                    div(ng-class="{'active':controls.sorting.state=='name'}", 
                        ng-click="setSortingState('name')") Name
                    div(ng-class="{'active':controls.sorting.state=='category'}", 
                        ng-click="setSortingState('category')") Category
                    div(ng-class="{'active':controls.sorting.state=='author'}", 
                        ng-click="setSortingState('author')") Author
                    div(ng-class="{'active':controls.sorting.state=='created'}", 
                        ng-click="setSortingState('created')") Date
                    div(ng-class="{'active':controls.sorting.state=='size'}", 
                        ng-click="setSortingState('size')") Filesize


        ul.items-container.clearfix(
            ng-class="{'layout-list':controls.layout=='layout-list', 'layout-icons':controls.layout=='layout-icons'}",)
            li.item(ng-class="item.category",
                ng-repeat="item in shared_items | filter:controls.searchString | orderBy:controls.sorting.state:controls.sorting.ascending")

                ng-include(src="item.templateUrl", ng-if="controls.layout=='layout-icons'")

                .clearfix(ng-if="controls.layout=='layout-list'", class="{item.category}")
                    .category-icon(class="{{item.category}}")
                    .name <b>Name:</b> {{item.name}}
                    .author <b>Author:</b> {{item.author}}
                    .size <b>Size:</b> {{item.size}}
                    .created <b>Created:</b> {{item.created}}

                    .item-controls.clearfix
                        i.fa.fa-trash-o
                        i.fa.fa-clipboard
                        i.fa.fa-download(
                            ng-show="item.category=='note' || item.category=='file' || item.category=='code' || item.category=='screenshot'")
                        i.fa.fa-pencil(
                            ng-show="item.category=='note' || item.category=='code'")
                        i.fa.fa-eye(
                            ng-show="item.category=='shared-screen' || item.category=='shared-webcam' || item.category=='screenshot'")



    .chat(chat)
                