.section.group
    .col.span_1_of_2
        .heading.clearfix
            .controls
                form(name="controlSearch", no-validate)
                    .control-input
                        input#searchString.form-control(type="text", 
                            required, ng-model="controls.searchString",
                            placeholder="Click to search")
                .layout
                    span(ng-click="controls.layout='layout-list'",
                        ng-class="{'active':controls.layout=='layout-list'}")
                        i.fa.fa-list-ul
                    span(ng-click="controls.layout='layout-icons'",
                        ng-class="{'active':controls.layout=='layout-icons'}")
                        i.fa.fa-th

        ul.items-container.clearfix(
            ng-class="{'layout-list':controls.layout=='layout-list', 'layout-icons':controls.layout=='layout-icons'}",)
            li.item(ng-class="item.category",
                ng-repeat="item in shared_items | filter:controls.searchString")

                ng-include(src="item.templateUrl", ng-if="controls.layout=='layout-icons'")

                .clearfix(ng-if="controls.layout=='layout-list'", class="{item.category}")
                    .category-icon(class="{{item.category}}")
                    .name
                        b
                            | Name: 
                        | {{item.name}}
                    .author
                        b
                            | Author: 
                        | {{item.author}}
                    .size
                        b
                            | Size: 
                        | {{item.size}}
                    .created
                        b
                            | Created: 
                        | {{item.created}}

                    .item-controls
                        i.fa.fa-trash-o
                        i.fa.fa-clipboard
                        i.fa.fa-download(
                            ng-show="item.category=='note' || item.category=='file' || item.category=='code' || item.category=='screenshot'")
                        i.fa.fa-pencil(
                            ng-show="item.category=='note' || item.category=='code'")
                        i.fa.fa-eye(
                            ng-show="item.category=='shared-screen' || item.category=='shared-webcam' || item.category=='screenshot'")



    .chat(chat)
                