.detail-view.shared-file-container
    .heading.clearfix.controls
        .row
            .col-xs-12.controls.clearfix
                .brand
                    a(href="/") Unwatched
                a(href="/share")
                    .back
                        i.fa.fa-arrow-left
                        span Overview
                a(ng-href="{{item.path}}")
                    .download
                        i.fa.fa-download
                        span Download
                a(ng-href="#", ng-click="save()")
                    .copy-clipboard
                        i.fa.fa-clipboard
                        span Copy infos to clipboard
                a(ng-href="#", ng-click="delete()")
                    .copy-clipboard
                        i.fa.fa-trash-o
                        span Remove

    .jumbotron
        .detail-heading(inline-edit="h1")
            form(name="fileForm", ng-hide="disabled")
                .input-container(ng-class="{'has-error': fileForm.fName.$invalid}")
                    input#fileName.form-control(type='text', name="fName"
                        ng-model="item_name", required, ng-disabled="disabled"
                        ng-class="{'input-disabled':disabled}")
                    span.help-block(ng-show="fileForm.fName.$error.required")
                        | *Required field. Name won't be saved.
            h1(ng-hide="!disabled")
                | {{item.name}}
        .infos-container
            .info
                b Size:
                | {{item.size | humanReadableFileSize}}
            .info
                b Author:
                | {{item.author}}
            .info
                b Created:
                | {{item.created}}
            .info
                b Uploaded:
                | {{item.uploaded}}
            .info(ng-show="item.mime_type!=''")
                b MIME-Type:
                | {{item.mime_type}}
            .info
                b Category:
                | {{item.category}}

        .settings-container.file(ng-hide="file.ready")
            h4 Choose a file from you drive
            form.form-inline(role="form")
                .form-group
                    input.form-control(type="file",
                        ng-file-select="onFileSelect($files)")

        .file-container(ng-hide="file.ready")
            .drop-box(ng-file-drop="onFileSelect($files)",
                ng-file-drag-over-class="drag-over-class")
                | or drop files here
            .progress-container(ng-show="file.show_progress")
                progressbar.progress-striped.active(max="100", type="info",
                    value="file.progress")
                    i {{file.progress}}%
        .alert.alert-success(ng-show="file.ready")
            | You have successfully shared an item.
